.user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  margin: 20px;
}
h3 {
  font-size: 25px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
